.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgb(15, 15, 15) 0%,
      rgba(33, 33, 33, 1) 50%,
      rgb(15, 15, 15) 100%
    );
    justify-content: space-between;
  }
  &__logo {
    height: 60px;
    margin-left: 4px;
    filter: drop-shadow(0px 0px 3px white);
  }
  &__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: url("../../assets/img/background-neon-2.jpg");
    background-size: cover;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 60px;
  }
  &__icon-vip {
    text-decoration: none;
    color: white;
    width: 40px;
    margin: 10px 4px 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    animation: shine 4s infinite;
    transition: all ease 0.4s;

    &:hover {
      animation: none;
      filter: drop-shadow(0px 0px 6px white);
    }
  }

  &__links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    text-transform: capitalize;
    transition: all ease 0.4s;
    filter: drop-shadow(0px 0px 6px white);
  }

  &__icons {
    font-size: 20px;
    width: 36px;
    filter: drop-shadow(0px 0px 16px rgb(94, 202, 252));
  }

  @media (max-width: 375px) {
    &__icons {
      margin: 2px;
    }
  }
}

@keyframes lighting {
  0% {
    filter: drop-shadow(0px 0px 6px rgb(66, 164, 255));
  }
  50% {
    filter: drop-shadow(0px 0px 18px rgb(25, 201, 255));
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgb(66, 164, 255));
  }
}
