.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &__logo {
    height: 100px;
    margin-left: 8px;
  }
  &__nav {
    margin: 10px 0px;
    display: flex;
  }
  &__icon-vip {
    text-decoration: none;
    color: white;
    width: 40px;
    margin: 0px 4px 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    animation: shine infinite 3s;
    transition: all ease 0.4s;

    &:hover {
      animation: none;
      filter: drop-shadow(0px 0px 6px white);
      
      
    }
  }

  &__links {
    text-decoration: none;
    color: white;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    animation: lighting infinite 3s;
    transition: all ease 0.4s;

    &:hover {
      animation: none;
      filter: drop-shadow(0px 0px 16px white);
    }
  }
  &__link-active {
    color: gold;
  }
  &__icons {
    font-size: 20px;
    margin-right: 4px;
    width: 30px;
    animation: lighting infinite 3s;
  }

  @media (max-width: 375px) {
    &__nav {
      margin: 8px 0px;
    }
    &__links {
      height: 60px;
    }
    &__icons {
      margin: 2px;
    }
  }
}

@keyframes lighting {
  0% {
    filter: drop-shadow(0px 0px 6px rgb(66, 164, 255));
  }
  50% {
    filter: drop-shadow(0px 0px 18px rgb(25, 201, 255));
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgb(66, 164, 255));
  }
}
