.daddy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &-yankee__bio {
    background: url("./../../assets/img/background-neon-2.jpg");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    padding-bottom: 40px;
  }
  &-yankee__hero {
    height: calc(100vh - 80px);
    background: url("./../../assets/img/daddy-desktop.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: 425px) {
      background: url("./../../assets/img/daddy-mobile.jpg") no-repeat;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
      background-size: cover;
    }
  }
}
