.natti {
  &-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(./../../assets/img/background-neon-2.jpg);
    width: 100%;
    background-size: cover;
  }
  &-natasha {
    height: 100vh ;
    background: url("./../../assets/img/natti-desktop.jpg") no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
   

    @media (max-width: 425px) {
      background: url("./../../assets/img/natti-mobile.jpg") no-repeat;
      height: 80vh;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
    }
  }
}
