.supercars {
  &-block {
    display: flex;
    background: url("./../../assets/img/background-neon.jpg");
    height: 100vh;
    overflow: hidden;
    
 
    @media (max-width: 480px) {
      height: 100vh;
    }
  }
}

.car {
  &-slide {
    height: 100%;
    background: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  &-name {
    position: absolute;
    margin-left: 40px;
    left: 0;
    filter: drop-shadow(2px 2px 0px rgb(61, 61, 61));
    font-size: 48px;
  }
  &-image {
    object-fit: cover;
    height: 100%;
  }
  @media (max-width: 960px) {
    &-slide{
      height: 100vh;

    }
    &-image {
      height: 100%;
    }
  }
  @media (max-width: 480px) {
    &-slide {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }
    &-image {
      height: auto;
      position: relative;
      object-position: center;
      bottom: 40px;
    }
    &-name {
      padding-top: 100px;
      width: 100%;
      margin-left: 0;
      line-height: 1;
      text-align: center;
      justify-content: center;
      font-size: 36px;

      filter: drop-shadow(1px 1px 0px rgb(46, 46, 46));
    }
  }
}
