

:root {
    --shadow-color: #9ef4ff;
    --shadow-color-light: white;
    --light-blue: #bcf7ff;
  }

.neon-banner {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  &__eventos {
    color: none;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;

    animation: lighting 3s infinite;
  }
}

  

