.traduction-flags{
    display: flex;
    justify-content: center;
    z-index: 20;

    &__btn{
        border: none;
        background: none;
        cursor: pointer;
        margin: 0;
    }

    img{
        width: 40px;
        margin: 0px 6px; 
    }

    @media (max-width: 768px ){
        width: auto;
        margin: 0;
        
        &__btn{
            width: inherit;
        }
    }
    @media (max-width: 425px ){
        flex-direction: column;
        position: inherit;
        width: auto;

        

    }
}