.search-bar{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    border-bottom: 0.5px solid rgb(161, 233, 255);
    width: 500px;

    &__icon{
        font-size:24px;
        right:0;
        margin-right: 10px;
    }
    &__input {
        background: none;
        outline: none;
        stroke: none;
        border: none;
       
        color: white;
        font-size: 16px;
        height: 40px;
        padding-left: 10px;
       

        &::placeholder{
            color: rgb(212, 212, 212);
            font-weight: 300;
            font-size: 14px;
            font-family: 'Titillium Web', sans-serif;
        }
    }
    @media (max-width: 425px) {
        width: 80%;
    }
}