.events-page{
    height: calc(100vh - 80px);
    background: url(../../assets/img/background-neon-2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeEffect 1s linear;
    
    &__banner{
        margin-top: 40px;
    }


    &__icon{
        font-size: 40px;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 90px;
        margin-top: 60px;
    }

    &__menu-item{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 10px;
        height: 60px;
        animation: lighting 3s infinite;

        &:hover{
            animation: none;
        }
    }
    @media(max-width: 425px) {
        height: 100vh;
    }
}
