.ñengo {
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-flow__title{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
  }

  &-flow__hero {
    height: calc(100vh - 80px);
    background: url("./../../assets/img/ñengo-desktop.png") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: 425px) {
      background: url("./../../assets/img/ñengo-mobile.jpg") no-repeat;
      height: 85vh;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
    }
  }

  &-flow__bio{
    background: url(./../../assets/img/background-neon-2.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    padding-bottom: 40px;
  }
}
