.counter{

    padding: 2rem;
    margin: 1rem;
    border-radius: 2em;
    box-shadow:1px 2px 2px black ;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}