.artist {
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &-hero{
    height: calc(100vh - 80px);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  &-bio{
    background: url(./../../assets/img/background-neon-2.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    padding-bottom: 40px;
  }
}
