.homepage{
    overflow:hidden;
    height: calc(100vh - 80px);


    &__video{
        width: 100%;
        transform: translateY(-100px);
        
    }

    @media (max-width: 1024px){

        &__video{
            transform: translateY(0)
        }
    }
    @media (max-width: 768px) {
        &__video{
            transform: translateY(100px)
        }
    }
}