.coming-soon{
    display: flex;
    height:calc(100vh - 80px) ;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .3s ease;
    animation: fadeEffect 1s linear;

    &__img{
        width:100%;
        object-fit: cover;
        object-position: center;
        position: relative;
    }
    &__title{
        position: absolute;
        bottom: 0;
        font-size: 48px;
        text-transform: uppercase;
        text-shadow: 1px 2px 2px  black;
    }
}

@keyframes fadeEffect {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}