.contact-page{
    height: calc(100vh - 80px);
    display: flex;
    width: 100%;
    background:url('../../assets/img/background-neon-2.jpg');
    background-size: cover;
    flex-direction: column;
    justify-content: center;

    &__title{
        color:white;
        margin-top: 0;
        font-weight: 500;
    }
    &__email{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h4{
            font-weight: 300;
            width: 80%;
        }

        p{
            margin: 0px;
            margin-bottom: 6px;

        }
        span{
            font-size: 40px;
            color: white;
            margin-top: 10px;
            transition: all .2s ease;
            margin-bottom: 10px;
            &:hover{
                animation: neon 3s infinite;
            }
        }
    }
    @media (max-width: 425px) {
        height: 100vh;
    }
}